{% extends 'accounts/auth/base.html' %}
{% block title %} Login Form {%endblock%}

{% block content %}
<div style="margin-top:10%;">
<h2>Login Form</h2>
<form action="{% url "accounts:login" %}" method="POST">
  {% if form.errors %}
    {% for field, errors in form.errors.items %}
        {% for error in errors %}
          <div class="alert alert-danger" role="alert">
            {{error}}
          </div>
        {%endfor%}
    {%endfor%}
  {%endif%}
    <div class="form-group">
      {% csrf_token %}
    </div>
    <div class="form-group">
      <label for="username-input">Username or Email</label>
      <input type="text" name="username" class="form-control w-25" id="username-input" placeholder="Enter Your username or email">
      </div>
    <div class="form-group">
      <label for="password-input">Password</label>
      <input type="password" name="password" class="form-control w-25" id="password-input" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="id_captcha_1">Enter The Captcha</label>
      <br>
      {{form.captcha}}
    </div>
    <a href="{% url "accounts:password_reset"%}"> Forget Password ? </a> <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}